<p *ngIf="!db"><em>Loading...</em></p>
<div *ngIf="db" class="db-data">
  <section class="filters">
    <label>
      Filter:
      <input type="text" [formControl]="filter">
    </label>
    <label>
      Category:
      <select [formControl]="category">
        <option value="all">Reset</option>
        <option *ngFor="let cat of db.Categories" [value]="cat.CategoryId">{{cat.CategoryName}}</option>
      </select>
    </label>
  </section>
  <section class="data">
    <div *ngFor="let item of filtered" [attr.class]="'data-item category'+item.CategoryId">
      <div>{{ item.Id }}</div>
      <div>{{ item.Name }}</div>
      <div><a href="{{item.Site}}" target="_blank">Site</a></div>
    </div>
  </section>
</div>