:root {
    --background-color: #1b6ec2;
    --highlight-color: #ddd;
    --alternating-color-alt: #f2f2f2;
    --alternating-color-main: #4caf50;
}
body {
    margin: 0;
}
a {
    color: #0366d6;
}

code {
    color: #e01a76;
}

.table-striped tr:nth-child(even) {
    background-color: var(--alternating-color-alt);
}

.table-striped th {
    text-align: left;
    background-color: var(--alternating-color-main);
    color: white;
}

.table-striped tr:hover {
    background-color: var(--highlight-color);
}
.table-striped td,
.table-striped th {
    border: 1px solid var(--highlight-color);
    padding: 0.5rem;
}
section.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    button {
        display: flex;
        // flex: 1 1 100%;
    }
}